@import 'styles/app.scss';

.cartContainer {
  width: clamp(45px,6vw,65px);
  height: clamp(45px,6vw,65px);
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 10;
  border: 1px solid #3f3f3f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;


  @include sDesktop {
    bottom: 45px;
    left: 45px;
  }
  @include lDesktop {
    bottom: 55px;
    left: 55px;
  }
}
.cartIcon {
  font-size: clamp(25px,3vw,36px);
  color: rgba(19,19,23);
}