@import 'styles/app.scss';

.header {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  @include rwd(1000) {
    padding: 30px 40px;
  }
  @include rwd(1400) {
    padding: 30px 80px;
  }
}

.title {
  font-weight: bold;
  font-size: clamp(40px, 5vw, 55px);
  z-index: 100;
}

.emptySpan {
  -webkit-text-stroke: 1px black;
  color: white;
}

.burgerMenu {
  display: inline-block;
  width: 45px;
  cursor: pointer;
  margin: 10px;
  z-index: 100;
}
.burgerLine {
  height: 4px;
  margin-bottom: 8px;
  background: #6b6161;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.burgerMenuActive .burgerLine:last-child {
  opacity: 0;
}
.burgerMenuActive .burgerLine:first-child {
  transform: rotate(45deg) translate(8px, 8px);
}
.burgerMenuActive .burgerLine:nth-child(2) {
  transform: rotate(-45deg);
}
