@import 'styles/app.scss';

.nav {
  display: grid;
  position: relative;
}

.list {
  @extend %list;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}

.listItem {
  margin: 0 10px;
  font-size: clamp(15px, 1.5vw, 23px);
  font-weight: 600;
  color: #d0d0d0;
  cursor: pointer;
  z-index: 1;
  font-weight: bold;
  &:hover {
    color: #efefef;
  }
}

.listItem:last-of-type {
  border-right: unset;
}
.circle {
  width: 1000px;
  height: 600px;
  border-radius: 50%;
  position: absolute;
  background-color: rgb(30, 30, 35);
  bottom: -150px;
  right: -550px;
  z-index: 1;
  @include rwd(800) {
    bottom: -130px;
    right: -450px;
  }
  @include rwd(1000) {
    bottom: -150px;
    right: -400px;
  }
  @include rwd(1350) {
    width: 1500px;
    height: 1500px;
    bottom: -170px;
    right: -560px;
  }
}

.userButton {
  background-color: transparent;
  color: inherit;
  font-weight: inherit;
  border: none;
  font-size: inherit;
  cursor: pointer;
}
