@import 'styles/app.scss';

.loginForm {
  justify-self: center;
  align-self: center;
  // padding: 10px 20px;
  width: 100%;
  max-width: 600px;
  @include desktop {
    justify-self: center;
    align-self: center;
    margin: 0 30px 50px;
    padding: 0 20px;
  }
  @include lDesktop {
    padding: 0 25px;
  }
}

.title {
  font-size: clamp(23px, 2.2vw, 42px);
}

.form {
  flex: 1 1 auto;
}
.button {
  font-size: clamp(16px, 1.4vw, 18px);

  width: 110px;
  height: 36px;
  @extend %products__btn;

  @include desktop {
    width: 125px;
    height: 40px;
  }
}

.marquee {
  white-space: nowrap;
  transform: translateX(-200px);
  font-size: clamp(16px, 2vw, 20px);
  letter-spacing: 1px;

  span {
    margin: 0 30px;
    font-size: clamp(16px, 2vw, 20px);
  }
}

.formFooter {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  align-items: center;
}

.account {
  font-weight: 400;

  // margin-right: 60px;
}
.registerLink {
  display: block;
  font-size: 14px;
  font-weight: 700;

  @include phone {
    display: initial;
    margin: 0 25px 0 10px;
  }
}
