@import 'styles/app.scss';

.productContainer {
  color: rgb(17, 17, 24);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.product {
  display: grid;
  grid-template-columns: auto;
  padding: 0 40px;

  @include phone {
    flex: 1 1 auto;
    grid-template-columns: 400px 200px;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }

  @include tablet {
    grid-template-columns: 480px 220px;
  }
  @include desktop {
    grid-template-columns: 700px 420px;
  }
  @include lDesktop {
    grid-template-columns: 800px 420px;
  }
}


.title {
  font-size: clamp(20px, 3.2vw, 40px);
  white-space: nowrap;
  margin: 12px 0;
}

.subTitle {
  padding-right: 20px;
  font-size: clamp(14px, 2vw, 28px);
  margin: 12px 0;
  p {
    margin: 3px 0;
  }
}

.free {
  font-size: clamp(14px, 1vw, 18px);
  margin: 5px 0;
  p {
    margin: 0;
  }
}

.productButtonContainer {
  display: flex;
  align-items: center;
  margin: 15px 0 10px;
  gap: 30px;

  @include tablet {
    margin: 30px 0 30px;
  }
}

.buttonIncrement,
.buttonDecrement {
  cursor: pointer;
  margin: 0 4px;
  font-size: clamp(15px, 1vw, 18px);
}
.counter {
  background-color: unset;
  border: unset;
  font-size: clamp(15px, 1.2vw, 22px);
}

.productPrice {
  font-size: clamp(12px, 1vw, 18px);
}

.addToCart {
  @extend %products__btn;
  font-size: 12px;
  width: 120px;
  height: 32px;
  margin: 0;

  @include desktop {
    width: 130px;
    height: 36px;
    font-size: 13px;
  }
}

.imgContainer {
  max-width: 250px;
  padding: 0 0px;
  width: 100%;
  object-fit: cover;
  position: relative;
  justify-self: center;
  align-self: center;
  @include phone {
    justify-self: center;
    align-self: center;
  }
  @include tablet {
    margin-left: 50px;
    max-width: 320px;
    justify-self: flex-start;
  }
  @include desktop {
    max-width: 360px;
  }
  @include lDesktop {
    max-width: 480px;
    padding-bottom: 30px;
  }
}

.imgNumber {
  position: absolute;
  left: -15px;
  top: -10px;
  font-size: clamp(26px, 2.4vw, 34px);
}
