.orderContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.order {
  flex: 1 1 auto;
  // padding-bottom: 50px;
  margin-bottom: 40px;
  padding: 0 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.orderProducts,
.payment,
.shipping {
  width: 100%;
}
.orderTitle {
  font-size: clamp(24px, 3vw, 42px);
  color: rgb(17, 17, 21);
  margin-bottom: 15px;
}
.productList {
  margin: 0;
  padding: 0;
  max-height: 175px;
  overflow-y: scroll;
}
.product {
  list-style-type: none;
  width: 100%;
  padding-right: 30px;
  display: grid;
  grid-template-columns: 2.4fr 1fr 1fr;
  margin-top: 18px;
}

.productCell {
  justify-self: flex-start;
  align-self: center;
  font-size: 16px;
}

.productName,
.productPrice,
.productQuantity {
  font-weight: 600;
  font-size: 17px;
  justify-self: flex-start;
}
.alignCenter {
  justify-self: center;
}

.paymentTitle {
  font-size: clamp(25px, 3vw, 44px);
  color: rgb(17, 17, 21);
}
.shipping {
  padding-bottom: 25px;
}

.shippingTitle {
  font-size: clamp(22px, 2.4vw, 36px);
  color: rgb(17, 17, 21);
  margin-bottom: 18px;
}

.wrapper {
  width: 100%;
  margin: 10px 0;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
}
.sum {
  font-weight: 600;
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr 2fr;
  margin: 14px 0 2px;
}