@import 'styles/app.scss';

.orderContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.order {
  flex: 1 1 auto;
  margin-bottom: 40px;
  padding: 0 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  // max-width: 400px;
  @include phone {
    justify-content: space-around;
    padding: 20px 86px;
  }
  @include lDesktop {
    padding: 30px 186px;
  }
}
.orderWrapper {
  @include phone {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 2fr 2fr;
  }

  @include sDesktop {
    width: 100%;
    grid-template-columns: 0.8fr 1.5fr;
  }
}
.payment {
  align-self: flex-start;
  z-index: 10;
  justify-self: center;
  margin-top: 35px;

  @include tablet {
    padding: 0 15px 0;
    margin-top: 0;
  }
}
.paymentButtons {
  max-width: 350px;
  margin: 30px 10px 0;
  overflow-y: auto;
  max-height: 300px;

  @include phone {
    max-height: unset;
    height: 300px;
  }
}

.orderProducts {
  max-width: 450px;
}
.orderProducts,
.payment,
.shipping {
  width: 100%;
}
.orderTitle {
  font-size: clamp(26px, 3vw, 44px);
  color: rgb(17, 17, 21);
  margin-bottom: 10px;

  @include tablet {
    margin-bottom: 30px;
  }
}
.productList {
  margin: 0;
  padding: 0;
  max-height: 220px;
  overflow-y: scroll;
  @include phone {
    max-height: unset;
    overflow-y: visible;
  }
}
.product {
  list-style-type: none;
  width: 100%;
  padding-right: 30px;
  display: grid;
  grid-template-columns: 2.4fr 1fr 1fr;
  margin-top: 20px;
}

.productCell {
  justify-self: flex-start;
  align-self: center;
  font-size: 16px;
}

.productName,
.productPrice,
.productQuantity {
  font-weight: 600;
  font-size: 17px;
  justify-self: flex-start;
}
.alignCenter {
  justify-self: center;
}

.paymentTitle {
  font-size: clamp(26px, 3vw, 44px);
  color: rgb(17, 17, 21);
}
.shipping {
  padding: 40px 0 45px;
  @include phone {
    padding: 0px 0 45px;
  }
}
.paymentButtons > div   {
  z-index: 1 !important;
  position: relative;
}

.shippingTitle {
  font-size: clamp(24px, 2.4vw, 38px);
  color: rgb(17, 17, 21);
  margin-bottom: 22px;
}

.wrapper {
  width: 100%;
  max-width: 450px;
  margin: 10px 0;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
}
.sum {
  font-weight: 600;
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr 2fr;
  margin: 22px 0 0;
}

.menu__item {
  display: none;
  position: relative;
  right: 0px;
  transform: rotate(-35deg);

  @include sDesktop {
    transform: rotate(-30deg);
    right: -50px;
    display: initial;
  }
}
.marquee {
  font-size: 60px;
  position: absolute;
  top: 0;
  left: 0;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  font-style: italic;
}
.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 5s linear infinite;
  animation-play-state: paused;
  opacity: 0;
  transition: opacity 0.1s;
}
.marquee span {
  padding: 0 2vw;
  -webkit-text-stroke: 1.5px rgb(0, 0, 0);
  -webkit-text-fill-color: transparent;
}
.menu__item__link {
  transition: opacity 0.4s;
  -webkit-text-stroke: 1.5px rgb(0, 0, 0);
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 2;
}

.marquee__inner {
  transition-duration: 0.4s;
  animation-play-state: running;
  opacity: 1;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}
