@import 'styles/app.scss';
.icosahedronContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.contentContainer {
  flex: 1 1 auto;
  padding: 0 30px 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include sDesktop {
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding: 30px 50px 50px;
  }
}
.icosahedron {
  display: none;
  height: 100%;
  width: 100%;
  max-width: 600px;
  justify-self: flex-start;
  align-self: center;

  @include sDesktop {
    display: initial;
  }
}
